Repository ultimatulny/todoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write", "git add"]
}

Deploy
  .gitignore
  README.md
Due: none

ver 1.1
  src/components/app/app.css
  src/components/app/app.js
  src/components/new-task-form/new-task-form.js
  src/components/task-list/task-list.js
  src/components/task/task.js
  src/components/tasks-filter/tasks-filter.css
  src/components/tasks-filter/tasks-filter.js
Due: eslint --fix, prettier --write, stylelint --fix

Update header.js
  src/components/header/header.js
Due: eslint --fix, prettier --write

Task Timer
  src/components/app/app.css
  src/components/app/app.js
  src/components/new-task-form/new-task-form.css
  src/components/new-task-form/new-task-form.js
  src/components/task/task.css
  src/components/task/task.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: hooks
  src/components/app/app.js
  src/components/header/header.js
  src/components/new-task-form/new-task-form.js
  src/components/task-list/task-list.js
  src/components/task/task.js
  src/components/tasks-filter/tasks-filter.js
Due: eslint --fix, prettier --write
